<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Brows event experiment !!
  </h1>
  <button mat-raised-button color="warn" (click)="getLessons()">Get All Lessoons</button>

  <app-counter></app-counter>
  <div class="row">
    <button mat-raised-button color="primary" (click)="addLessen(input.value)" >Add Lesson</button>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput #message maxlength="256" placeholder="Message" #input>
      </mat-form-field>
    </form>
  </div>
  <br>
  <app-list-lessons ></app-list-lessons>


</div>


